data/*
data/features/*.parquet
data/raw/*.parquet
data/reference/*
build/*
config/__pycache__
dist/*
evidently_dojo.egg-info
evidently_dojo.egg-info/*
fastapi/__pycache__
models/*
reports/*
src/__pycache__