evidently==0.4.0
fastapi[all]==0.98.0
fastparquet==2023.4.0
joblib==1.2.0
httpx==0.23.3
pandas==2.0.2
pendulum==2.1.2
python-dotenv>=0.5.1
psycopg2-binary
pyarrow==11.0.0
requests==2.30.0
scikit-learn==1.2.2
sqlalchemy==2.0.12
tqdm==4.65.0
elasticsearch==8.8.0
boto3==1.28.15
xgboost==1.7.5
hyperopt==0.2.7
